{%- from "openvpn/map.jinja" import openvpn with context -%}
{%- set server = openvpn.get('server', {}) -%}

# --------------------------------------
#
#     global openvpn server setting
#
# --------------------------------------

mode server

{%- if server.local is defined %}
local {{ server.local }}
{%- endif %}

port {{ server.get('port', '1194') }}
proto {{ server.get('proto', 'tcp-server') }}
dev {{ server.get('dev', 'tun') }}

{%- if server.get("tls-server", False) %}
tls-server
{%- endif %}

server {{ server.network }} {{ server.netmask }}

cipher {{ server.get('cipher', 'AES-256-CBC') }}

{%- if server.get('comp_lzo', True) %}
comp-lzo
{%- endif %}

ca   /etc/openvpn/ssl/ca.crt
cert /etc/openvpn/ssl/server.crt
key  /etc/openvpn/ssl/server.key
dh   /etc/openvpn/ssl/dh.pem
tls-auth /etc/openvpn/ssl/ta.key 0

{%- if server.get("management", False) %}
management {{ server.management.get('ip', '127.0.0.1') }} {{ server.management.get('port', '5555') }} # internal management console used for tuning
{%- endif %}

{%- if server.get("clients", False) %}
ifconfig-pool-persist ipp.txt
{%- endif %}

topology {{ server.get('topology', 'subnet') }}

client-config-dir {{ server.get('client_config_dir', '/etc/openvpn/ccd') }}

{%- for route in server.get('routes', []) %}
push "route {{ route.ip }} {{ route.netmask }}"
route {{ route.ip }} {{ route.netmask }}
{%- endfor %}

{%- if server.get('redirect_gateway', False) %}
push "redirect-gateway def1 bypass-dhcp"
{%- endif %}

{%- if server.get("client_to_client", False) %}
client-to-client
{%- endif %}

{%- if server.get("duplicate_cn", False) %}
duplicate-cn
{%- endif %}

{%- for dhcp_option in server.get('dhcp_options', []) %}
push "dhcp-option {{ dhcp_option.name }} {{ dhcp_option.value }}"
{%- endfor %}

keepalive {{ server.get('keepalive', '10 60') }}
inactive {{ server.get('inactive', '600') }}

{%- if server.get('max_clients', False) %}
max-clients {{ server.max_clients }}
{%- endif %}

{%- if server.get('nobody', False) %}
user nobody
group nogroup
{%- endif %}

persist-key
persist-tun

status {{ server.get('status', 'openvpn-status.log') }}
log         {{ server.get('log', 'openvpn.log') }}
log-append  {{ server.get('log_append', 'openvpn.log') }}

verb {{ server.get('verb', 3) }}
mute {{ server.get('mute', 20) }}

{%- if server.get('explicit_exit_notify', False) %}
explicit-exit-notify {{ server.get('explicit_exit_notify') }}
{%- endif %}

{%- for parameter in server.get('parameters', []) %}
{{ parameter }}
{%- endfor %}
