{%- from "openvpn/map.jinja" import openvpn with context -%}
{%- set server = openvpn.get('server', {}) -%}

# --------------------------------------
#
#         (c) KLAXOON 2014-2018
#
#     global openvpn server setting
#
# --------------------------------------

mode server

{%- if server.local is defined %}
local {{ server.local }}
{%- endif %}

port {{ server.get('port', '1194') }}
proto {{ server.get('proto', 'tcp-server') }}
dev {{ server.get('dev', 'tun') }}

{%- if server.get("tls-server", False) %}
tls-server
{%- endif %}

server {{ server.network }} {{ server.netmask }}

cipher {{ server.get('cipher', 'AES-256-CBC') }}

ca   /etc/openvpn/ssl/ca.crt
cert /etc/openvpn/ssl/server.crt
key  /etc/openvpn/ssl/server.key
dh   /etc/openvpn/ssl/dh.pem

tls-auth /etc/openvpn/ssl/ta.key 0

{%- if server.get("management", False) %}
management {{ server.get('management-ip', '127.0.0.1') }} {{ server.get('management-port', '5555') }} # internal management console used for tuning
{%- endif %}

{%- if server.get("clients", False) %}
ifconfig-pool-persist ipp.txt
{%- endif %}

topology {{ server.get('topology', 'subnet') }}

{%- if server.get("management", False) %}
client-config-dir /etc/openvpn/ccd
{%- endif %}

{%- for route in server.get('routes', []) %}
push "route {{ route.network }} {{ route.netmask }}"
route {{ route.network }} {{ route.netmask }}
{%- endfor %}

{%- if server.get('redirect_gateway', False) %}
push "redirect-gateway def1 bypass-dhcp"
{%- endif %}

{%- if server.get("client_to_client", False) %}
client-to-client
{%- endif %}

{%- if server.get("duplicate_cn", False) %}
duplicate-cn
{%- endif %}

{%- for dhcp_option in server.get('dhcp_options', []) %}
push "dhcp-option {{ dhcp_option.name }} {{ dhcp_option.value }}"
{%- endfor %}

keepalive 10 60
inactive {{ server.get('inactive', '600') }}

{%- if server.get('max_clients', False) %}
max-clients {{ server.max_clients }}
{%- endif %}

{%- if server.get('nobody', False) %}
user nobody
group nogroup
{%- endif %}

persist-key
persist-tun

status openvpn-status.log
;log         openvpn.log
;log-append  openvpn.log

verb {{ server.get('verb', 3) }}

mute {{ server.get('mute', 20) }}

{%- if server.get('comp_lzo', True) %}
comp-lzo
{%- endif %}

explicit-exit-notify 1

{%- for parameter in server.get('parameters', []) %}
{{ parameter }}
{%- endfor %}
